<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Zone</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <h1><a href="/">CODE ZONE</a></h1>
                {{#if loggedIn}}
                <a href="/dashboard">Blog Dashboard</a>
                <button id="logout" class='btn-no-style'>LOGOUT</button>
                {{else}}
                <a href="/signup">SIGNUP</a>
                <a href="/login">LOGIN</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>Code Zone</footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>