<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"
        integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
        crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <h1><a href="/">CODE ZONE</a></h1>
                {{#if loggedIn}}
                <a href="/dashboard">User Dashboard</a>
                <button id="logout" class='btn-no-style link-btn'>LOGOUT</button>
                {{else}}
                <a href="/signup">SIGNUP</a>
                <a href="/login">LOGIN</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>

        {{#if loggedIn}}
        <footer>{{username}}, welcome to Code Zone!</footer>
        {{else}}
        <footer>Code Zone</footer>
        {{/if}}
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>