<section class="dashboard">
    <div>
        <a href='/new-blog' class='create-link'>New Blog Post</a>
    </div>
    <div>
        <h3>Your Past Blogs</h3>
    </div>
    <article id='blog-list' class='user-blog-list'>
        {{#each blogs}}
        <div class='dashboard-blog'>
            <div class="blog-title">
                <div>Title: {{title}}</div>
            </div>
            <div>Entry: {{content}}</div>
            <div>Date Posted: {{createdAt}}</div>
            <div>
                <a href='/dashboard/edit/{{id}}' class='edit-link'>edit post</a>
            </div>
        </div>
        {{/each}}
    </article>
</section>