<section class="dashboard">
    <div>
        <h2>Update Your Post</h2>
    </div>
    <div id='edit-post-el'>
        <form id="edit-post-form">
            <div>
                <label for="edit-title">Update Title: {{blog.title}}</label>
                <input type="text" name='edit-title' id="edit-title">
            </div>
            <div>
                <label for="edit-content">Update Content:</label>
                <textarea type="text" name='edit-content' id="edit-content" value='{{blog.content}}'></textarea>
            </div>
            <div>
                <button id='edit-blog-btn' class='create-btn'>UPDATE!</button>
            </div>
            <div>
                <button class='delete-btn'>DELETE!</button>
            </div>
        </form>
    </div>
</section>

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>