<ol class="post-list">
    {{#each blogs}}
    <li>
        <article class="post">
            <div>
                <span>Title: {{title}}</span>
            </div>
            <div class="meta">
                <span>{{content}}</span>
            </div>
            <div>Blogger: {{User.username}}</div>
            <div>Posted: {{created_at}}</div>
        </article>
    </li>
    {{/each}}
</ol>