<div class="columns is-vcentered">
    <div class="column">
        <form class="login-form">
            <div>
                <label for="login-username">Username:</label>
                <input type="text" id="login-username">
            </div>
            <div>
                <label for="login-password">Password:</label>
                <input type="password" id="login-password">
            </div>
            <div>
                <button type="submit" class='submit-btn'>Login!</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascript/login.js"></script>