<form class="signup-form">
    <div>
        <label for="signup-username">Username:</label>
        <input type="text" id="signup-username">
    </div>
    <div>
        <label for="signup-email">Email:</label>
        <input type="email" id='signup-email'>
    </div>
    <div>
        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password">
    </div>
    <div>
        <button type="submit" class='submit-btn'>Signup!</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>